In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
%matplotlib inline

In [2]:
data = pd.read_csv('box_office_predictions.csv')

In [11]:
data.head()

,budget,country,director,genre,gross,name,rating,runtime,score,star,studio,votes,profit,year
0,237000000.0,UK,James Cameron,Action,760507625.0,Avatar (2009),PG-13,162,7.8,Sam Worthington,Twentieth Century Fox Film Corporation,958400,523507625.0,2009
1,200000000.0,USA,James Cameron,Drama,658672302.0,Titanic (1997),PG-13,194,7.8,Leonardo DiCaprio,Twentieth Century Fox Film Corporation,865551,458672302.0,1997
2,150000000.0,USA,Colin Trevorrow,Action,652270625.0,Jurassic World (2015),PG-13,124,7.0,Chris Pratt,Universal Pictures,470625,502270625.0,2015
3,220000000.0,USA,Joss Whedon,Action,623357910.0,The Avengers (2012),PG-13,143,8.1,Robert Downey Jr.,Marvel Studios,1069292,403357910.0,2012
4,185000000.0,USA,Christopher Nolan,Action,534858444.0,The Dark Knight (2008),PG-13,152,9.0,Christian Bale,Warner Bros.,1845853,349858444.0,2008

In [14]:
print("Columns with missing values", data.isna().sum())

Columns with missing values budget      0
country     0
director    0
genre       0
gross       0
name        0
rating      0
runtime     0
score       0
star        0
studio      0
votes       0
profit      0
year        0
dtype: int64

In [4]:
data['profit'] = data['gross'] - data['budget']

In [5]:
np.corrcoef(data['profit'], data['score'])

array([[1.        , 0.19406541],
       [0.19406541, 1.        ]])

In [6]:
np.corrcoef(data['profit'], data['votes'])

array([[1.       , 0.4802336],
       [0.4802336, 1.       ]])

In [7]:
for i in range(0,len(data.index)):
  data.loc[i,'year'] = data.loc[i,'name'].split(" ",)[-1].strip('()')

In [9]:
data.head()

,budget,country,director,genre,gross,name,rating,runtime,score,star,studio,votes,profit,year
0,237000000.0,UK,James Cameron,Action,760507625.0,Avatar (2009),PG-13,162,7.8,Sam Worthington,Twentieth Century Fox Film Corporation,958400,523507625.0,2009
1,200000000.0,USA,James Cameron,Drama,658672302.0,Titanic (1997),PG-13,194,7.8,Leonardo DiCaprio,Twentieth Century Fox Film Corporation,865551,458672302.0,1997
2,150000000.0,USA,Colin Trevorrow,Action,652270625.0,Jurassic World (2015),PG-13,124,7.0,Chris Pratt,Universal Pictures,470625,502270625.0,2015
3,220000000.0,USA,Joss Whedon,Action,623357910.0,The Avengers (2012),PG-13,143,8.1,Robert Downey Jr.,Marvel Studios,1069292,403357910.0,2012
4,185000000.0,USA,Christopher Nolan,Action,534858444.0,The Dark Knight (2008),PG-13,152,9.0,Christian Bale,Warner Bros.,1845853,349858444.0,2008

In [19]:
categorical = ['country','director','genre','rating','star','studio']

In [20]:
data.apply(lambda x: len(x.unique()))

budget       338
country       52
director    2549
genre         17
gross       5987
name        6000
rating        13
runtime      131
score         74
star        2317
studio      1996
votes       5775
profit      5991
year          31
dtype: int64

In [23]:
yearvalues = data['year'].unique()
print(yearvalues)

['2009' '1997' '2015' '2012' '2008' '2016' '1999' '2004' '2013' '2006'
 '2010' '2002' '1993' '2011' '2003' '2005' '2014' '2007' '1994' '2001'
 '1996' '2000' '1989' '1991' '1990' '1992' '1998' '1995' '1986' '1988'
 '1987']

In [26]:
data.drop(columns=['name','gross','votes'],inplace=True)

In [27]:
data.head()

,budget,country,director,genre,rating,runtime,score,star,studio,profit,year
0,237000000.0,UK,James Cameron,Action,PG-13,162,7.8,Sam Worthington,Twentieth Century Fox Film Corporation,523507625.0,2009
1,200000000.0,USA,James Cameron,Drama,PG-13,194,7.8,Leonardo DiCaprio,Twentieth Century Fox Film Corporation,458672302.0,1997
2,150000000.0,USA,Colin Trevorrow,Action,PG-13,124,7.0,Chris Pratt,Universal Pictures,502270625.0,2015
3,220000000.0,USA,Joss Whedon,Action,PG-13,143,8.1,Robert Downey Jr.,Marvel Studios,403357910.0,2012
4,185000000.0,USA,Christopher Nolan,Action,PG-13,152,9.0,Christian Bale,Warner Bros.,349858444.0,2008

In [48]:
train = data.loc[~data['year'].isin(['2015','2016'])]
test = data.loc[data['year'].isin(['2015','2016'])]

In [47]:
test.head()

,budget,country,director,genre,rating,runtime,score,star,studio,profit,year
2,150000000.0,USA,Colin Trevorrow,Action,PG-13,124,7.0,Chris Pratt,Universal Pictures,502270625.0,2015
5,200000000.0,USA,Gareth Edwards,Action,PG-13,133,7.9,Felicity Jones,Lucasfilm,332177324.0,2016
7,250000000.0,USA,Joss Whedon,Action,PG-13,141,7.4,Robert Downey Jr.,Marvel Studios,209005868.0,2015
14,250000000.0,USA,Anthony Russo,Action,PG-13,147,7.9,Chris Evans,Marvel Studios,158084349.0,2016
26,175000000.0,UK,Jon Favreau,Adventure,PG,106,7.5,Neel Sethi,Fairview Entertainment,189001123.0,2016

In [49]:
train.head()

,budget,country,director,genre,rating,runtime,score,star,studio,profit,year
0,237000000.0,UK,James Cameron,Action,PG-13,162,7.8,Sam Worthington,Twentieth Century Fox Film Corporation,523507625.0,2009
1,200000000.0,USA,James Cameron,Drama,PG-13,194,7.8,Leonardo DiCaprio,Twentieth Century Fox Film Corporation,458672302.0,1997
3,220000000.0,USA,Joss Whedon,Action,PG-13,143,8.1,Robert Downey Jr.,Marvel Studios,403357910.0,2012
4,185000000.0,USA,Christopher Nolan,Action,PG-13,152,9.0,Christian Bale,Warner Bros.,349858444.0,2008
6,115000000.0,USA,George Lucas,Action,PG,136,6.5,Ewan McGregor,Lucasfilm,359544677.0,1999